<!doctype>
<html>
    <head>
        <title>Athlete Form</title>
        <link rel="stylesheet" type="text/css" href="form.css">
    </head>
<div ng-controller="ExampleController">
  <form method="post">
    <label>Name: <input type="text" ng-model="user.name" required /></label><br /><pre></pre>
    
    <label>Date of Birth: <input type="date" ng-model="user.dob" required /></label><br /><pre></pre>
    
    <label>Nationality: <input type="text" ng-model="user.name" required /></label><br /><pre></pre>
    
    <label>Location: <input type="text" ng-model="user.name" required /></label><br /><pre></pre>
    
    <label>Association: <input type="text" ng-model="user.name"/></label><br /><pre></pre>
    
    <label>Team: <input type="text" ng-model="user.name" required /></label><br /><pre></pre>
    
    Gender: <label><input type="radio" ng-model="user.gender" value="male" />male</label>
    <label><input type="radio" ng-model="user.gender" value="female" />female</label><br /><pre></pre>
    
    <label>Sports: <input type="text" ng-model="user.name" required /></label><br /><pre></pre>
    
    <label>About: <input type="text" ng-model="user.name"/></label><br /><pre></pre>
    
    <label>Interest: <input type="text" ng-model="user.name" /></label><br /><pre></pre>
    
    <label>Charities: <input type="text" ng-model="user.name"/></label><br /><pre></pre>
    
    <label>social media handles: <input type="text" ng-model="user.name" \/></label><br /><pre></pre>
    
    pets: <label><input type="radio" ng-model="user.pets" value="Yes" />Yes</label>
    <label><input type="radio" ng-model="user.pets" value="No" />No</label><br /><pre></pre>
    
    drink alcohol: <label><input type="radio" ng-model="user.drink" value="Yes" />Yes</label>
    <label><input type="radio" ng-model="user.drink" value="No" />No</label><br /><pre></pre>
    
    matrimonial status: <label><input type="radio" ng-model="user.married" value="Yes" />married</label>
    <label><input type="radio" ng-model="user.married" value="No" />unmarried</label><br /><pre></pre>
    
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Submit" />
  </form>
  
</div>

</html>